# Meizu configuration options

config MACH_MEIZU_MSM8953
	bool "Meizu MSM8953"
	depends on ARCH_MSM8953
	help
	  Support for MSM8953 Meizu variants

menu "Meizu board selection"

config MACH_MEIZU_M1721
        bool "M1721 board"
        select MACH_MEIZU_MSM8953
        help
          Support for Meizu M6 Note

endmenu
