config INPUT_FINGERPRINT
	tristate "Fingerprint driver support"
	help
	  Say Y here to enable fingerprint driver support!
	  
config FINGERPRINT_GOODIX
	tristate "Goodix fingerprint drvier support"
	depends on INPUT_FINGERPRINT
	help
	  Say Y here to enable Goodix fingerprint driver support!
