/*
 * Copyright (c) 2017, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&int_codec {
	status = "ok";
	/* already defined in msm8953-audio.dtsi */
	qcom,msm-hs-micbias-type = "internal";
	qcom,spkr-sd-n-gpio = <&tlmm 96 0>;
	qcom,audio-routing =
        "RX_BIAS", "MCLK",
        "SPK_RX_BIAS", "MCLK",
        "INT_LDO_H", "MCLK",
        "MIC BIAS External", "Handset Mic",
        "MIC BIAS External2", "Headset Mic",
        "MIC BIAS External", "Secondary Mic",
        "AMIC1", "MIC BIAS External",
        "AMIC2", "MIC BIAS External2",
        "AMIC3", "MIC BIAS External",
        "WSA_SPK OUT", "VDD_WSA_SWITCH",
        "SpkrMono WSA_IN", "WSA_SPK OUT";
	/delete-property/asoc-wsa-codec-names;
	/delete-property/asoc-wsa-codec-prefixes;
};
&soc {
    i2c@7af8000 {
            cs35l35: cs35l35@40 {
            compatible = "cirrus,cs35l35";
            reg = <0x40>;
            reset-gpios = <&tlmm 0x5b 0x01>;
            irq-gpio = <&tlmm 0x5a 0x01>;
            interrupt-parent = <&tlmm>;
            interrupts = <0x5a 0x08>;
            debounce = <0x5a 0x64>;
            pinctrl-names = "cs35l35_irq_default";
            pinctrl-0 = <&cs35l35_int_default>;
            cirrus,audio-channel = <0x00>;
            cirrus,sp-drv-strength = <0x00>;
            cirrus,boost-ctl = <0x7f>;
            cirrus,boost-ipk = <0x19>;

            cirrus,classh-internal-algo {
                cirrus,classh-bst-overide;
                cirrus,classh-bst-max-limit = <0x01>;
                cirrus,classh-mem-depth = <0x01>;
                cirrus,classh-release-rate = <0x03>;
                cirrus,classh-headroom = <0x08>;
                cirrus,classh-wk-fet-disable = <0x00>;
                cirrus,classh-wk-fet-delay = <0x04>;
                cirrus,classh-wk-fet-thld = <0x01>;
                cirrus,classh-vpch-auto = <0x01>;
                cirrus,classh-vpch-rate = <0x02>;
                cirrus,classh-vpch-man = <0x05>;
            };

            cirrus,monitor-signal-format {
                cirrus,imon = [03 00 01];
                cirrus,vmon = [03 00 00];
                cirrus,vpmon = [00 04 00];
                cirrus,vbstmon = [00 04 01];
                cirrus,vpbrstat = [00 04 00];
                cirrus,zerofill = [00 00 00];
            };
        };
    };
};
