/*
 * Copyright (c) 2017, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&soc {

        tlmm: pinctrl@1000000 {

                // Card tray part

                /*
                 * SD-card slot in card tray
                */

                sdcard_tray {

                        sdcard_inserted: sdcard_gpio_active {

                                mux {
                                        pins = "gpio62";
                                        function = "gpio";
                                };

                                config {
                                        pins = "gpio62";
                                        bias-pull-down;
                                        drive-strength = <8>;
                                        input-enable;
                                };

                        };

                        sdcard_gpio_suspend {

                                mux {
                                        pins = "gpio62";
                                        function = "gpio";
                                };

                                config {
                                        pins = "gpio62";
                                        bias-pull-down;
                                        drive-strength = <8>;
                                        input-enable;
                                };
                        };
                };

                /*
                 * SIM1 slot in card tray
                */

                sim1_tray {

                        sim1_inserted: sim1_gpio_active {

                                mux {
                                        pins = "gpio33";
                                        function = "gpio";
                                };

                                config {
                                        pins = "gpio33";
                                        bias-pull-up;
                                        drive-strength = <8>;
                                        input-enable;
                                };

                        };

                        sim1_gpio_suspend {

                                mux {
                                        pins = "gpio33";
                                        function = "gpio";
                                };

                                config {
                                        pins = "gpio33";
                                        bias-pull-up;
                                        drive-strength = <8>;
                                        input-enable;
                                };

                        };
                };

                /*
                 * SIM2 slot in card tray
                */

                sim2_tray {

                        sim2_inserted: sim2_gpio_active {

                                mux {
                                        pins = "gpio66";
                                        function = "gpio";
                                };

                                config {
                                        pins = "gpio66";
                                        bias-pull-up;
                                        drive-strength = <8>;
                                        input-enable;
                                };

                        };

                        sim2_gpio_suspend {

                                mux {
                                        pins = "gpio66";
                                        function = "gpio";
                                };

                                config {
                                        pins = "gpio66";
                                        bias-pull-up;
                                        drive-strength = <8>;
                                        input-enable;
                                };

                        };
                };

                // CS35L35 (Audio amplifier for main speaker) part

                cs35l35_default {

                        mux {
                                pins = "gpio91";
                                function = "gpio";
                        };

                        config {
                                pins = "gpio91";
                                output-high;
                                bias-pull-up;
                                drive-strength = <2>;
                        };

                };

                cs35l35_default: cs35l35_int_default {

                        mux {
                                pins = "gpio90";
                                function = "gpio";
                        };

                        config {
                                pins = "gpio90";
                                bias-pull-up;
                                drive-strength = <2>;
                                input-enable;
                        };

                };

                cs35l35_mclk {

                        cs35l35_mclk_on: cs35l35_mclk_on {

                                mux {
                                        pins = "gpio25";
                                        function = "sec_mi2s_mclk_a";
                                };

                                config {
                                        pins = "gpio25";
                                        drive-strength = <8>;
                                        output-high;
                                };

                        };

                        cs35l35_mclk_off: cs35l35_mclk_off {

                                mux {
                                        pins = "gpio25";
                                        function = "sec_mi2s_mclk_a";
                                };

                                config {
                                        pins = "gpio25";
                                        drive-strength = <2>;
                                        output-low;
                                        bias-pull-down;
                                };

                        };

                };

                sec-tlmm-lines {

                        sec_tlmm_lines_act: sec_tlmm_lines_act {

                                mux {
                                        pins = "gpio135", "gpio136", "gpio137", "gpio138";
                                        function = "sec_mi2s";
                                };

                                config {
                                        pins = "gpio135", "gpio136", "gpio137", "gpio138";
                                        drive-strength = <8>;
                                };

                        };

                        sec_tlmm_lines_sus: sec_tlmm_lines_sus {

                                mux {
                                        pins = "gpio135", "gpio136", "gpio137", "gpio138";
                                        function = "sec_mi2s";
                                };

                                config {
                                        pins = "gpio135", "gpio136", "gpio137", "gpio138";
                                        drive-strength = <2>;
                                        bias-disable;
                                };

                        };

                };

        };

};

